@model LogRegTest.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <h2>Видалення тренера</h2>
    <p>Ви впевнені, що хочете видалити даний абонемент?</p>

    <form asp-action="Delete" asp-controller="Crud" method="post">
        <input type="hidden" asp-for="TicketId" />
        <button type="submit" class="btn btn-danger">Підтвердити видалення</button>
        <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
    </form>
</div>